*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

/* container */
#container{
    width: 80%;
    height: fit-content;
    /* background-color: aquamarine; */
    margin: 10px auto;
}
#navbar{
    width: auto;
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 80px;
}
#navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: black; */
    
}
#navbar ul li{
    margin: 0px 20px;

}
#navbar ul li a{
    text-decoration: none;
    color:  #45523e;
    font-weight: bolder;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 1.2em;  
}
/* nav end */

/* page */
#page{
    width: auto;
    height: 400px;
    /* background-color: aquamarine; */
    font-size: 1.2em;
    color: #45523e;
    font-weight: bold;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
/* end */
footer{
    width: 100%;
    height: 40px;
    margin-top: 40px auto;
    background-color: #45523e;
}
footer a{
    color: black;
    font-size: 1.0em;
    font-weight: bold;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 10px;
}
